<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/dispositivo/{{dispositivo.dispositivoId}}">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Logs del Dispositivo: {{dispositivo.nombre}}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
