<ion-header *ngIf = "dispositivo && electrovalvula">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-title>Dispositivo: {{dispositivo.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "dispositivo && electrovalvula">
  <div id="highcharts" style="width: 100%; height: 300px;"></div>
  <br>
  <ion-button expand="block" shape="round" (click)="cambiarEstadoElectrovalvula()">
    <p *ngIf="!electrovalvula.apertura"> Abrir Electroválvula</p>
    <p *ngIf="electrovalvula.apertura" > Cerrar Electroválvula</p>
    <ion-icon slot="end" name="caret-forward"></ion-icon>
  </ion-button>
  <ion-button expand="block" shape="round"  routerLink="/medicion/{{dispositivo.dispositivoId}}" >
    <p >Ver todas las Mediciones</p>
    <ion-icon slot="end" name="caret-forward"></ion-icon>
  </ion-button>
  <ion-button expand="block" shape="round" routerLink="/log/{{dispositivo.dispositivoId}}">
    <p>Ver todos los Logs</p>
    <ion-icon slot="end" name="caret-forward"></ion-icon>
  </ion-button>
</ion-content>
